*{
  margin: 0;
  padding: 0;

}

.app{
  width: 100%;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.alinha{
  display: flex;
  align-items: center;
  background-color: turquoise;
 }

.navBar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: gray;
  color: white;
  padding: 15px;
}

.divRoute{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}